{% extends "pylons/layout.html" %}

{%- block extrahead %}
{{ super() }}
<script type="text/javascript" src="{{ pathto('_static/jp.js', 1) }}"></script>
{% endblock %}

{% block header %}
<div class="banner" style="position: fixed; width: 100%; top: 0px; right: 0px">
<div style="height: 20px; padding: 5px; color: #000; background-color: #EEE; text-align: right; border-bottom: 2px solid #DDD">
このドキュメントは <a href="http://docs.pylonsproject.org/en/latest/">公式ドキュメント</a> の翻訳です。
ソースコードは <a href="https://github.com/pylonsproject-jp/pylonsrtd">Github</a> にあります。
</div>
</div>
<div style="height: 32px; background-color: #DDD"></div>
{{ super() }}
{% endblock %}
